.bi{
    font-size: xx-large; color: aliceblue;
}

.sidebar {
    height: 110vh;
    min-height: 0;
    float: left;
    position: sticky;
  }

#navmenu{
  display: flex;
  flex-grow: 1;
  position: sticky;
  top:0;
}

  .sidebar {
    width: 4em;
  }

  .main-content{
    margin-left: 4em;
  }

  #media-name{
    font-size: large;
  }
  .card-title{
    font-size: 0.7em;
    
  }
  .card-text{
    font-size: 0.6em;
    font-weight: 700;
    
  }

  .card-body{
    padding-top: 2px;
  }
.card:hover{
  box-shadow: 0 0 5px 0 #ccc;
}

.btn-xl{
  padding: 10px 60px;
  border-radius: 10px;
}

.schduling-option{
  padding: 2px 6px;

}

.iconu{
  font-size: medium;
}

.image-holder{
  
  width: 50%;
  margin: auto;

   
}
.facebook-bar{
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width:576px) {
  .sidebar {
    height: 340vh;
    min-height: 0;
    float: left;
    position: sticky;
    width: 3em;
  }
  .sm-icon{
    font-size: x-large;}
  .nav{
    align-items: center;
    --bs-nav-link-padding-x: 0;
  }
  .xs-card{
    width: 33.3%;
  }
  .main-content {
    margin-left: 3em;
}
}

@media screen and (max-width:768px) {
  .sidebar {
    height: 340vh;
    min-height: 0;
    float: left;
    position: sticky;
    
  }
}

@media screen and (min-width:769px) and (max-width:991px) {
  .sidebar {
    height: 290vh;
    min-height: 0;
    float: left;
    position: sticky;
    
  }
}

@media screen and (min-width:350px) and (max-width:576px) {
  .schedule-sd{
    display: block !important;
  }

  .schedule-wrapper{
    margin-top: 6px;
  }

  .publish-btn{
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .btn-line{
    margin-top: 6px;
  }

  #media-prw{
    text-align: center;
    color: #077239;
  }

}