.bi{
    font-size: xx-large; color: aliceblue;
}

.sidebar {
    height: 120vh;
    min-height: 0;
    float: left;
  }

  .sidebar {
    width: 4em;
  }

  .main-content{
    margin-left: 4em;
  }

  #media-name{
    font-size: large;
  }
  .card-title{
    font-size: 0.7em;
    
  }
  .card-text{
    font-size: 0.6em;
    font-weight: 700;
    
  }

  .card-body{
    padding-top: 2px;
  }
.card:hover{
  box-shadow: 0 0 5px 0 #ccc;
}
 

  
  
  